<!-- Log-In-Form -->
<!-- Collects data from a (existing) user to authenticate -->


<!-- Header contains... (f.l.t.r.) -->
<!-- 1) Back button to return to StartPage  -->
<!-- 2) Page title -->
<!-- 3) Login-Button which doesn't do anything  -->
<!-- 4) SignUp Button to change to SignupPage -->
<ion-header style="height: 85px; background-color: white">
  <ion-img src="assets/logo.png" style="height: 60px; width: 201px; position: absolute; left: 15px; top: 15px;"></ion-img>
  <ion-button size="large" color="light" href = "start" style="position: absolute; right: 220px; top: 10px; border-bottom-color: white; --box-shadow:none" >
      <ion-back-button defaultHref="/start" style="size: 20px; color:black;"></ion-back-button>
    </ion-button>
    <ion-button color="medium"  style="position: absolute; right: 20px; top: 20px;" > Log In </ion-button>
    <ion-button color="light" style="position: absolute; right: 120px; top: 20px; --box-shadow:none" href="/start/signup" > Sign Up
    </ion-button>
</ion-header>


<ion-infinite-scroll-content style="position: absolute; top: 85px; left: 10px; right: 10px">
  <form #loginForm ="ngForm">
    <div class="form-group">
      <ion-item>
        <ion-label position="floating">E-mail address </ion-label>
        <ion-input type="email" required pattern="(.)*@(.)*" class="form-control" name="email" [(ngModel)]="email"> </ion-input>
      </ion-item>
    </div>


    <div class="form-group">
      <ion-item>
        <ion-label position="floating">Password </ion-label>
        <ion-input type="password" required class="form-control" name="password" [(ngModel)]="password" (keyup.enter)="logIn()"> </ion-input>
      </ion-item>
    </div>
  </form>

  <ion-button color="primary" [hidden]="loading" (click)="logIn()"> Log In</ion-button>

  <!-- User feedback while trying to log in -->
  <div>
    <p *ngIf="loading"> Trying to log in </p>
    <ion-progress-bar *ngIf="loading" type="indeterminate" color="tertiary"></ion-progress-bar>
  </div>

  <!-- Handling common errors after trying to log in -->
  <div>
    <small [class.ion-hide]="isValidCombination" style="color: darkred"> Invalid email address or password. </small>
    <ion-button color="secondary" [class.ion-hide]="isValidCombination" (click)="resetPassword()"> Forgot password
    </ion-button>
    <small [class.ion-hide]="isVerified || mailSent" style="color: darkred"> Email address is not verified yet. Please
      check your emails. </small>
    <ion-button color="secondary" [class.ion-hide]="isVerified || mailSent" (click)="sendMailAgain()"> Send mail again
    </ion-button>
    <small *ngIf="mailSent"> Please check your emails. </small>
  </div>

  <!-- Handling errors -->
  <div>
    <small *ngIf="error" style="color: darkred"> An error occurred: {{error}}.
      later. </small>
  </div>

</ion-infinite-scroll-content>
<app-info-footer></app-info-footer>

