<!-- Log-In-Form -->
<!-- Collects data from a (existing) user to authentificate -->
<!-- ToDo: Implement logic -->
<!-- ToDo: Styling -->


<!-- Header contains... (f.l.t.r.) -->
<!-- 1) Back button to return to StartPage  -->
<!-- 2) Page title -->
<!-- 3) Login-Button which doesn't do anything  -->
<!-- 4) SignUp Button to change to SignupPage -->
<ion-header>
  <ion-toolbar color="success">
    <ion-button style="position: absolute; left: 5px; top: 6px "> <ion-back-button defaultHref="/start" style="size: 20px"> </ion-back-button> </ion-button>
    <ion-title style="position: absolute; left: 80px; top: 15px; color: darkgreen"> Log in </ion-title>
    <ion-button color="medium"  style="position: absolute; right: 5px; top: 6px;" > Log In </ion-button>
    <ion-button style="position: absolute; right: 95px; top: 6px" href="/start/signup"> Sign Up </ion-button>
  </ion-toolbar>
</ion-header>


<!-- ToDo: Adapt content so it works in a similar way as signup-page-->
<ion-infinite-scroll-content>
  <form [formGroup]="logInForm">
    <div class="form-group">
      <ion-item>
        <ion-label> e-mail address</ion-label>
        <ion-input formControlName="email" type="email" class="form-control"></ion-input>
      </ion-item>
    </div>

    <div class="form-group">
      <ion-item>
        <ion-label> password </ion-label>
        <ion-input formControlName="password" type="password" class="form-control"> </ion-input>
      </ion-item>
    </div>
  </form>

  <!-- When all information is valid, the log in button is shown -->
  <!-- ToDo: Why doesn't this work?-->
  <ion-button [class.ion-hide]="email.invalid || password.invalid"
              (click)="logIn()">
    Log In
  </ion-button>

  <!-- If all information isn't valid this message is shown  -->
  <!-- ToDo: Why doesn't this work?-->
  <small [class.ion-hide]="email.valid && password.valid"
         style="color: red">
    You can log in as soon as all required information is valid. </small>

  <ion-button style="position: center"> log in </ion-button>
</ion-infinite-scroll-content>

