<!-- Log-In-Form -->
<!-- Collects data from a (existing) user to authenticate -->
<ion-header>
  <app-header></app-header>
</ion-header>


<ion-content>
  <div class="sideBorder">
    <form #loginForm="ngForm">
      <div style="text-align: center; margin-top: 15px">
        <ion-title style="font-size: 30px; font-weight: bold">Log In</ion-title>
      </div>
      <div class="form-group">
        <ion-item>
          <ion-label position="floating">E-mail address</ion-label>
          <ion-input type="email" required pattern="(.)*@(.)*" class="form-control" name="email"
                     [(ngModel)]="email"></ion-input>
        </ion-item>
      </div>


    <div class="form-group">
      <ion-item>
        <ion-label position="floating">Password </ion-label>
        <ion-input type="password" required class="form-control" name="password" [(ngModel)]="password" (keyup.enter)="logIn()"> </ion-input>
      </ion-item>
    </div>
  </form>

  <ion-button color="primary" [hidden]="loading" (click)="logIn()" style="width: 100%; height: 50px; padding-left: 12px; padding-right: 15px; font-size: 16px"> Log In</ion-button>

  <!-- User feedback while trying to log in -->
  <div>
    <p *ngIf="loading"> Trying to log in </p>
    <ion-progress-bar *ngIf="loading" type="indeterminate" color="tertiary"></ion-progress-bar>
  </div>

  <!-- Handling common errors after trying to log in -->
  <div>
    <small [class.ion-hide]="isValidCombination" style="color: darkred"> Invalid email address or password. </small>
    <ion-text color="primary" style="cursor:pointer; font-size: 14px; padding-left: 15px" (click)="resetPassword()"> Forgot password
    </ion-text>
    <small [class.ion-hide]="isVerified || mailSent" style="color: darkred"> Email address is not verified yet. Please
      check your emails. </small>
    <ion-button color="primary" [class.ion-hide]="isVerified || mailSent" (click)="sendMailAgain()"style="width: 100%; height: 30px; padding-left: 12px; padding-right: 300px; font-size: 16px"> Send mail again
    </ion-button>
    <small *ngIf="mailSent"> We sent you an email with instructions. Please check also your spam folder. </small>
  </div>

  <!-- Handling errors -->
  <div>
    <small *ngIf="error" style="color: darkred"> An error occurred: {{error}}.
      later. </small>
  </div>
  </div>


  <app-info-footer></app-info-footer>
</ion-content>

