<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <div class="littleSideBorder">
    <ion-item>
      <ion-label>
        <ion-text text-wrap>
          <details>
            <summary style="font-size:120%"><b>About Us</b></summary>
            <p>Welcome to Eventdoo
            <p>
            <p> Great to have you here. Below you find some information about who we are and what we do. If you have any
              questions, feel free to contact us.
            </p>
            <br>
            <p>We are team number 5 of the "Introduction in Software Engineering"-course of the University of Bern.
              Currently
              all 5 of us attend the 3rd semester of our computer science Bachelor's degree.
              Eventdoo is our project of the Introduction in Software Engineering course. This project has taught us a
              lot about web development.
              Even though we had many serious problems, even ones that stopped us completely form evolving our project,
              we are proud of our final product.
              Our goal is to make the planning and offering of services easier.
            </p>
            <br>

            <p>We really hope you enjoy our website. We continuously try to improve your experience with Eventdoo.
              Nevertheless for friendly feedback as well as improvement suggestions please
              contact us through our email address ESEteam5@gmx.de.</p>
          </details>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text text-wrap>
          <details>
            <summary style="font-size:120%"><b>About Eventdoo</b></summary>

            <p>
              Launched in 2019 Eventdoo is an online market-place, giving its user a platform for offering and
              requesting
              services for events. The geographical focus lies on Switzerland.
              Eventdoo has 5 employees. If you want to know more about us, look at our About us
              section above.</p>

            <p>Eventdoo started as a project part of the lecture ESE: Introduction to Software Engineering,
              a Bachelor’s lecture held by Oscar Nierstrasz at the university of Bern.
              <br>
              The event services are divided in 5 categories:</p>
            <ul>
              <li>
                Venue
              </li>
              <li> Gastronomy</li>
              <li> Music</li>
              <li> Entertainment</li>
              <li> Photography</li>
            </ul>
            <br>

            <p>Categories like Gastronomy, Music and Entertainment, have subcategories:</p>
            <br>
            <p><b>Gastronomy:</b></p>
            <ul>
              <li> American</li>
              <li> Asian</li>
              <li> Finger Food</li>
              <li> Greek</li>
              <li> Indian Italian</li>
              <li> Japanese</li>
              <li> Mexican</li>
              <li> Oriental</li>
              <li> Sweets & Dessert</li>
              <li>Vegan</li>
              <li> Vegetarian</li>
            </ul>
            <br>
            <p><b>Music</b></p>
            <ul>
              <li> Classical</li>
              <li> Electronical Music</li>
              <li> DJ</li>
              <li> Folk</li>
              <li> Hip Hop/Rap</li>
              <li> Jazz</li>
              <li> Latin</li>
              <li> Golden Oldies</li>
              <li> Pop/Rock</li>
              <li> Schlager</li>
            </ul>
            <br>
            <p><b>Entertainment</b></p>
            <ul>
              <li>Cabaret</li>
              <li>Comedy</li>
              <li>Dance</li>
              <li> Magic</li>
              <li> Pyrotechnics</li>
              <li>Theatre</li>
              <li>Other</li>
            </ul>

            <h3>User</h3>
            <p> Our definition of a user is any kind of individuum or firm that uses the Eventdoo platform. Users that
              have an
              account are expected to read the alerts given by the page. They are also expected to check their emails on
              a
              regular basis, if they offer any kind of event service and reply within 2 workdays to requests.</p>

            <br>

            <p> Eventdoo is all about making the planning of an event easier for you. You can look for all the services
              you
              need on our website. Add services that you think are especially interesting to your favorites and request
              an
              offer
              from the service provider. If you are a service provider you can offer up to 5 services.

              Eventdoo is free for everyone (according to the user guidelines).

            </p>
          </details>
        </ion-text>
      </ion-label>
    </ion-item>


    <ion-item>
      <ion-label>
        <ion-text text-wrap>
          <details>
            <summary style="font-size:120%"><b>User Guidelines</b></summary>
            <p>By using the Eventdoo webpage, all users implicitly agree to abide by the following user guidelines.
              You must not use the Eventdoo website, if you disagree with the following user guidelines.
              If for any reasons you do not abide the following guidelines Eventdoo is allowed to delete service and
              profiles without further notice as well as ban users.</p>
            <br>

            <h3>The website</h3>
            <p> The Eventdoo platform is an online-market place, on which Swiss firms as well as Swiss individuals can
              offer their
              services and request services.
              We endeavor to make the Eventdoo website better and adapt it to the requirements and needs of the user.
              Nevertheless we do not guarantee that all functions are always available. And we keep the right to change
              and
              delete functions and part of the webpage.</p>
            <br>
            <h3>No warranties </h3>
            <p>All content on the website is provided without the warranty for defects. We hereby express no
              representations
              or warranties, of any kind related
              to the Eventdoo webpage or materials contained on the webpage. Furthermore we do not guarantee that the
              content and the given information on the website
              are complete and flawless.


              It can happen that the platform or part of it are currently unavailable for various reasons.</p>
            <br>
            <h3>Limitation of liability</h3>
            <p> In no event shall Eventdoo, nor any employees, be held liable for anything arising out of or in any way
              connected with your use of the Eventdoo
              website whether such liability is under contract. Eventdoo as well as employees shall not be held liable
              for
              any indirect,
              consequential or any kind of special liability arising out of our in any way related to your use of this
              website. </p>
            <br>
            <h3>Restrictions</h3>
            <p> In order to use our website you must be at least 18 years and older and according to law “capable of
              acting”.
              Other than the content you own, under these guidelines, Eventdoo owns all the intellectual property rights
              and
              materials contained in this website.
              You are furthermore specifically restricted from the following:</p>
            <br>
            <ul>
              <li>Selling or commercializing any website material;</li>
              <li> Using the Eventdoo website in any way that is or may be damaging to the website;</li>
              <li> Using the webpage in any way that impacts user access to the webpage;</li>
              <li> Using this website contrary to Switzerland’s law and regulation or in any way that may cause harm to
                Eventdoo, it’s webpage, or to any person or firm;
              </li>
              <li> Engaging in any data mining, data harvesting or similar activity in relation to the Eventdoo website;
              </li>
            </ul>

            <h3>Your duties</h3>
            <p>
              As a Eventdoo user you are obligated to keep all information about you and your services up to date and
              complete.
              You are also obligated to make sure you don’t loose any date in case the website does not work or works
              just
              partly.
              Further more it is your duty to keep the password secret and unavailable for other people.

              Also you make sure that event service information are true and are not misleading.
              We do not tolerate racism, sexism, homophobia or other forms of hate-speech not in the profile nor in the
              event services.
              Any services being realated to any of the mentioned hate-speech forms will be removed without further
              notice. </p>

            <br>

            <h3>Our codex</h3>
            <p>
              By using the Eventdoo webpage you specifically agree to the following codex.</p>
            <ul>
              <li>You abide the applicable law especially Switzerlands when using this website. Explicitly you must not
                use
                this
                website for child pornography, animal maltreatment, pornography, humang trafficking or any kind of
                prostitution.
              </li>

              <li>You are friendly towards all other users and Eventdoo as well as employees.</li>

              <li>You do not threaten, harm, troll or attack in any way (including digital ways such as trojans) any
                user
                or
                Eventdoo (including employees).
              </li>

              <li> Your content must be your won and must not be invading any third-party’s rights.</li>

              <li> You must not spam any other Eventdoo user nor Eventdoo itself or any of it’s employees.</li>
            </ul>
            <br>
            <h3>Privacy</h3>
            <p>Eventdoo is allowed to save and use any kind of person related data within the applicable data protection
              law.
            <p>
              <br>
            <h3>Serverability and variation of the guidelines</h3>
            <p>If any part of these guidelines are invalid under Switzerland’s law, that part shall be deleted without
              affecting the remaining part.

              Eventdoo is permitted to revise these guidelines at any times and by using this website you are expected
              to
              review these guidelines on a regular basis.</p>
          </details>
        </ion-text>
      </ion-label>
    </ion-item>


    <ion-item>
      <ion-label>
        <ion-text text-wrap>
          <details>
            <summary style="font-size:120%"><b>How it works</b></summary>

            <br>
            <h3>Offering a service for an event</h3>
            <video width="640" height="360" controls>
              <source src="../../../assets/EventdooOffer.mp4" type="video/mp4">
            </video>
            <br>
            <br>
            <br>
            <h3>Requesting a service for an event</h3>
            <video width="640" height="360" controls>
              <source src="../../../assets/EventdooRequest.mp4" type="video/mp4">
            </video>
            <br>
            <br>
            <br>
            <h3>Hints and Tips</h3>
            <p>If you are looking for a certain place don't forget to look for the next major city. It might be that
              there are service providers
              that have a perimeter, which also includes the place you are looking for.
              For expample: You are having a party in Niederhasli a tiny village near Zurich and you are looking for a
              caterer. Try to look for Gastronomy around
              Zurich and then look at the distance that is given in the service card. If it says 20 km form Zurich you
              have already found a potential provider.</p>
            <br>
            <p>Similarly we recommend you if you live near a bigger city to give the city as an address if you are
              willing to offer your service there
              (except if you are offering an venue). Because this way people are more
              likely to find your service</p>
            <br>
          </details>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text text-wrap>
          <details>
            <summary style="font-size:120%"><b>FAQ</b></summary>
            <br>
            <h3>Sign up</h3>

            <h4>I tried to sign up but I can not click the button “Sign up”. What is wrong?</h4>
            <p>Make sure you fill out the whole form and then try again. Especially make sure that the email address is
              correct,
              the house number has numbers and maximum on letter, the ZIP is a 4-digit code and the passwords are equal
              as
              well as at least 6 characters long.</p>
            <br>
            <h4> I tried to sign up but I get the message “Failed to register”. Why does it not work? </h4>
            <p> The email you use is already registered. So try to login or reset your password on the login page. Or
              make
              sure you wrote your email the correct way and try again. Otherwise you are asked to use a different email
              address.</p>
            <br>
            <h4>I signed up, but never got an email. </h4>
            <p> Please make sure to refresh your email as well as your spam. It sometimes takes up to 10 minutes for you
              to
              receive our email. If you haven’t received it till then, you can use the “send Mail again” button which is
              located
              on the Login page. Just type in your email and your password and hit the login button. A message will be
              displayed
              saying please check your emails and next to it there is a button saying “Send Mail again”. Click that
              button
              and enter
              your email address.</p>
            <br>

            <h3>Login</h3>

            <h4>I forgot my password what should I do? </h4>
            <p>Just click on forgot password in order to get a email with a link to reset your password. It’s that
              easy.</p>
            <br>
            <h4>I get the failure “Please verify your email address”. Why is the login not working? </h4>
            <p>After you have signed yourself up, you need to verify by opening the link you get from us in the email in
              a
              new tab.
              You will then be told you can now login and proceed to login.</p>
            <br>

            <h3> Creating an event service</h3>


            <h4>I can not create an event service because I can not click on the button. </h4>
            <p>Make sure you have filled out all the mandatory fields (all the fields except picture and special
              requirements).
              Also make sure your picture is not to big and in jpg or pgn format. Then try again.</p>
            <br>
            <h4>I created an event service but it is not shown in the profile. What went wrong? </h4>
            <p> Was there a pop up asking you, if you want to go to the search page or to your profile page.
              If so your event service should have been created. We recommend to refresh the page if you can’t see your
              service.
              Otherwise we are sorry. Please try again. If it really does not work after a few tries, we would be very
              grateful if you could let us
              know about your problems in creating an event service. Thank you.</p>
            <br>
            <h4>What is meant by perimeter?</h4>
            <p> Perimeter means how far are you willing to travel to provide your service. This applies to all services
              except for Venue. For example if you offer a catering service around Zurich are you willing to cater to
              Lucerne (which is within 100km)?</p>

            <br>
            <h3> General</h3>

            <h4> We are a firm. Where can we add our firmname?</h4>
            <p> Just sign up as a normal user with the name of the person that is in charge of requesting or offering
              the
              services and then under my profile add your firmname where it says firmname</p>
            <br>
            <h4>How can I add an event service to the favorite services? </h4>
            <p>Just click on the star in the detail page.</p>
            <br>

            <h4>How can I delete a favourite? </h4>
            <p>Just click on the star in the detail page again.</p>
            <br>

            <h4>Where can I find all the favourites I have? </h4>
            <p>You can find all the favourites you have by clicking on Favorites in the top right corner.</p>
            <br>

            <h4>Where can I find the requested services? </h4>
            <p>You can find the requested services in your profile.</p>
            <br>

            <h4> Is there a way to see all my event services ? </h4>
            <p>Yes there is just go to your profile. They are all listed there. If you want to see them in detail just
              click
              on the card.</p>
            <br>
            <h4>Can I update my event service and can I delete one of them? </h4>
            <p>Just click on the profile icon to get to the profile page, scroll through the list and click on the
              service
              you want to update.
              In the detail page you see a button saying update. That’s where you can update your service.</p>
            <br>
            <h4>How many event services can I offer? </h4>
            <p> You are able to offer up to 5 event services. </p>
            <br>
            <h4>Can I change my password from the profile page? </h4>
            <p>Unfortunately you can not reset your password from the profile page. But you can use the forgot password
              link on the login page</p>
            <br>
            <h4>How much does it cost to use Eventdoo? </h4>
            <p>It is absolutely free. Have fun planning your event or offering your event services. </p>
            <br>
            <h4> Is there a way to report inappropriate services? </h4>
            <p>Yes there is. Just open the detail page of the event service and click on the button saying report. </p>
            <br>
            <h4>How can I contact the Eventdoo team? </h4>
            <p>You can sent us an email under ESEteam5@gmx.de.</p>
          </details>
        </ion-text>
      </ion-label>
    </ion-item>

  </div>

  <app-info-footer></app-info-footer>

</ion-content>

