h1{
  font-size: 25px;
}

h2{
  font-size: 20px;
  font-weight: bold;
}

h3{
  font-size: 18px;
  font-weight: bold;
}

h4{
  font-weight: bold;
}

ion-content {
  font-size: 15px;
  font-family: Calibri;
}

li{
  font-size: 15px;
  font-family: Calibri;
  color: #616161;
}

p{
  color: #616161;
}



