<ion-header style="height: 85px; background-color: white">
  <ion-img src="assets/logo.png"
           style="height: 60px; width: 201px; position: absolute; left: 15px; top: 15px;"></ion-img>
  <ion-button size="large" color="light"
              style="position: absolute; right: 20px; top: 10px; border-bottom-color: white; --box-shadow:none">
    <ion-back-button style="color: black"></ion-back-button>
  </ion-button>


</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      <ion-text text-wrap>
        <h2>About Us</h2>
        <h3>We are the team 5 of the "Introduction in Software Engineering"-course of the University of Bern.
          This is our application to offer and find services for events. </h3>
      </ion-text>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <ion-text text-wrap>
        <h2>About Eventdoo</h2>
        <h3>Here you can find some infos about how to use our product. </h3>
      </ion-text>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <ion-text text-wrap>
        <h2>Community Guidelines</h2>
        <h3>Please follow these guidelines if you participate in our community: </h3>
      </ion-text>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <ion-text text-wrap>
        <h2>User guidelines</h2>
        <p>By using the Eventdoo webpage, all users implicitly agree to abide by the following user guidelines.
          You must not use the Eventdoo website, if you disagree with the following user guidelines.
          If for any reasons you do not abide the following guidelines Eventdoo is allowed to delete service and
          profiles without further notice as well as ban users.</p>
        <br>

        <h3>The website</h3>
        <p> The Eventdoo platform is an online-market place, on which firms as well as individuals can offer their
          services and request services.
          We endeavor to make the Eventdoo website better and adapt it to the requirements and needs of the user.
          Nevertheless we do not guarantee that all functions are always available. And we keep the right to change and
          delete functions and part of the webpage.</p>
        <br>
        <h3>No warranties </h3>
        <p>All content on the website is provided without the warranty for defects. We hereby express no representations
          or warranties, of any kind related
          to the Eventdoo webpage or materials contained on the webpage. Furthermore we do not guarantee that the
          content and the given information on the website
          are complete and flawless.


          It can happen that the platform or part of it are currently unavailable for various reasons.</p>
        <br>
        <h3>Limitation of liability</h3>
        <p> In no event shall Eventdoo, nor any employees, be held liable for anything arising out of or in any way
          connected with your use of the Eventdoo
          website whether such liability is under contract. Eventdoo as well as employees shall not be held liable for
          any indirect,
          consequential or any kind of special liability arising out of our in any way related to your use of this
          website. </p>

        <h3>Restrictions</h3>
        <p> In order to use our website you must be at least 18 years and older and according to law “capable of
          acting”.
          Other than the content you own, under these guidelines, Eventdoo owns all the intellectual property rights and
          materials contained in this website.
          You are furthermore specifically restricted from the following:</p>
        <br>
        <ul>
          <li>Selling or commercializing any website material;</li>
          <li> Using the Eventdoo website in any way that is or may be damaging to the website;</li>
          <li> Using the webpage in any way that impacts user access to the webpage;</li>
          <li> Using this website contrary to Switzerland’s law and regulation or in any way that may cause harm to
            Eventdoo, it’s webpage, or to any person or firm;
          </li>
          <li> Engaging in any data mining, data harvesting or similar activity in relation to the Eventdoo website;
          </li>
        </ul>

        <h3>Your duties</h3>
        <p>
          As a Eventdoo user you are obligated to keep all information about you and your services up to date and
          complete.
          You are also obligated to make sure you don’t loose any date in case the website does not work or works just
          partly.
          Further more it is your duty to keep the password secret and unavailable for other people.

          Also you make sure that event service information are true and are not misleading.
          We do not tolerate racism, sexism, homophobia or other forms of hate-speech not in the profile nor in the
          event services.
          Any services being realated to any of the mentioned hate-speech forms will be removed without further
          notice. </p>

        <br>

        <h3>Our codex</h3>
        <p>
          By using the Eventdoo webpage you specifically agree to the following codex.

          You abide the applicable law especially Switzerlands when using this website. Explicitly you must not use this
          website for child pornography, animal maltreatment, pornography, humang trafficking or any kind of
          prostitution.

          You are friendly towards all other users and Eventdoo as well as employees.

          You do not threaten, harm, troll or attack in any way (including digital ways such as trojans) any user or
          Eventdoo (including employees).

          Your content must be your won and must not be invading any third-party’s rights.

          You must not spam any other Eventdoo user nor Eventdoo itself or any of it’s employees.</p>

        <h3>Privacy</h3>
        <p>Eventdoo is allowed to save and use any kind of person related data within the applicable data protection law.<p>

        <h3>Serverability and variation of the guidelines</h3>
        <p>If any part of these guidelines are invalid under Switzerland’s law, that part shall be deleted without
        affecting the remaining part.

        Eventdoo is permitted to revise these guidelines at any times and by using this website you are expected to
        review these guidelines on a regular basis.</p>
      </ion-text>
    </ion-label>
  </ion-item>

</ion-content>

<app-info-footer></app-info-footer>
