<ion-header style="height: 85px; background-color: white">
    <ion-img src="assets/logo.png" style="height: 60px; width: 201px; position: absolute; left: 15px; top: 15px;"></ion-img>
    <ion-button size="large" color="light" style="position: absolute; right: 20px; top: 10px; border-bottom-color: white; --box-shadow:none" ><ion-back-button style="color: black"></ion-back-button></ion-button>
  </ion-header>

  <ion-content>
    <div style="min-height: 100%">
    <ion-item>
      <ion-label>
        <ion-text text-wrap>
        <h2>About Us</h2>
          <h3>We are the team 5 of the "Introduction in Software Engineering"-course of the University of Bern.
            This is our application to offer and find services for events. </h3>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text text-wrap>
          <h2>About Eventdoo</h2>
          <h3>Here you can find some infos about how to use our product. </h3>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text text-wrap>
          <h2>Community Guidelines</h2>
          <h3>Please follow these guidelines if you participate in our community: </h3>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text text-wrap>
          <h2>General Terms and Conditions</h2>
          <h3>With using this application you accept the following terms and conditions:</h3>
        </ion-text>
      </ion-label>
    </ion-item>
    </div>
  <app-info-footer></app-info-footer>
</ion-content>
