<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-button color="#secondary" style="position: absolute; left: 5px; top: 6px"><ion-back-button defaultHref="/start"> </ion-back-button></ion-button>
      <ion-title style="color: white; position: center; text-align: center; top: 15px"> All Services </ion-title>
      <ion-button color="#secondary" style="position: absolute; right: 5px; top: 6px;" href="/start" (click)="authService.logout()"> Logout </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <!-- Loading animation while services are loaded from database-->
    <p *ngIf="loading"> Trying to verify your email address </p>
    <ion-progress-bar *ngIf="loading" type="indeterminate" color="tertiary"></ion-progress-bar>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!-- Displays all EventCards passed to the EventCardComponent (eventList) -->
    <event-service-card [services]="eventList"> </event-service-card>

  </ion-content>
</ion-app>
