<ion-header>
  <ion-toolbar color="primary">
    <ion-button color="secondary" style="position: absolute; left: 5px; top: 6px"><ion-back-button defaultHref="/start"> </ion-back-button></ion-button>
    <ion-title style="color: darkgreen; position: absolute; left: 80px; top: 15px"> List of all Services </ion-title>
    <ion-button color="secondary" style="position: absolute; right: 5px; top: 6px;" href="/start/start"> Logout </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
