<ion-grid>
  <ion-row>
    <ion-col *ngFor="let event of services" size-md="4">
      <ion-card  color="light" padding="2" style="min-width:250px; box-shadow: none !important;  cursor:pointer" (click)="redirectToDetailPage(event.serviceId)">
        <ion-img [src]="event.image"  style="height:75%;"></ion-img>
        <ion-card-header>
          <ion-row>
            <ion-col>
              <ion-card-subtitle class="ion-float-left" style="color: #a5a2a5">{{event.price}} CHF </ion-card-subtitle>
            </ion-col>
            <ion-col>
              <ion-icon class="ion-float-right" name="{{getIconName(event.category)}}"></ion-icon>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-card-title (click)="redirectToDetailPage(event.serviceId)" style="cursor:pointer">{{event.title}}</ion-card-title>
            </ion-col>
            <ion-col>
              <ion-button [hidden]="auth.isLoggedOut() || auth.getUserId()!=event.providerId" fill=clear style="position: absolute; right: 3px; top: 3px" color="dark" (click)="deleteConfirmation(event.serviceId)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-label>  </ion-label>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-grid>
