<ion-header>
  <ion-header>
    <ion-toolbar color="success">
      <ion-title style="color: darkgreen"> Welcome</ion-title>
      <ion-button [hidden]="authService.isLoggedOut()" style="position: absolute; right: 5px; top: 6px"
                  (click)="authService.logout()"> Log out
      </ion-button>
      <ion-button [hidden]="authService.isLoggedIn()" [routerLink]="['login']"
                  style="position: absolute; right: 5px; top: 6px"> Log in
      </ion-button>
      <ion-button [hidden]="authService.isLoggedIn()" [routerLink]="['signup']"
                  style="position: absolute; right: 95px; top: 6px"> Sign Up
      </ion-button>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content>
  <p> Thank you for verifying your email address. You can log in now. </p>
</ion-content>
