<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <div class="littleSideBorder">
    <!-- Loading animation -->
    <p *ngIf="loading"> Trying to verify your email address </p>
    <ion-progress-bar *ngIf="loading" type="indeterminate" color="tertiary"></ion-progress-bar>

    <!-- If verification was successful -->
    <div style="text-align: center; padding-top: 30px">
      <h3 *ngIf="verified" style="font-size: 30px; font-weight: bold"> Thank you for verifying your email address! </h3>
      <br>
      <h3>You can <a href="/start/login"> log in</a> now. </h3>
    </div>

    <!-- If an error occurs -->
    <h3 *ngIf="error"> An unexpected error occurred: {{error}}. </h3>
  </div>

</ion-content>

<app-info-footer></app-info-footer>

