<ion-footer style="position: relative; bottom: 0px">
  <ion-toolbar color="dark" style="position: absolute; bottom: 0px; min-height: 70px;">
    <ion-item color="dark" >
      <ion-label style="padding-left: 10px; padding-top: 5px">
        <ion-text style="font-size: 14px; font-weight: bold">Contact</ion-text> <br>
        <ion-text style="font-size: 14px">ESEteam5@gmx.de</ion-text>
      </ion-label>
      <ion-button color="dark" style="right: 0px; padding-top: 5px" href="/start/about-eventdoo" [routerLink]="['about-eventdoo']">
        About Eventdoo
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>

