<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <div class="littleSideBorder">


    <!-- Loading animation while services are loaded from database-->
    <ion-progress-bar *ngIf="loading" type="indeterminate" color="tertiary"></ion-progress-bar>

    <div style="margin-left: 15%; margin-right: 15%">
      <event-service-card [services]="services"
                          style="position: absolute; top: 200px; bottom: 200px; padding-bottom: 100px;"></event-service-card>

    </div>

  </div>

</ion-content>
