<!-- Sign-Up-Form -->
<!-- Collects data from a new user and saves it in a user-object -->
<!-- Does some verification (email-format, matching passwords) -->
<!-- Passes the user-object/data to the database (to be implemented)-->
<!-- ToDo: Styling-->

<!-- Header contains... (f.l.t.r.) -->
<!-- 1) Back button to return to StartPage  -->
<!-- 2) Page title -->
<!-- 3) Login-Button to change to LoginPage  -->
<!-- 4) SignUp Button which doesn't change anything -->
<ion-header>
  <ion-toolbar color="success">
    <ion-button style="position: absolute; left: 5px; top: 6px"><ion-back-button defaultHref="/start"> </ion-back-button></ion-button>
    <ion-title style="color: darkgreen; position: absolute; left: 80px; top: 15px"> Sign Up </ion-title>
    <ion-button style="position: absolute; right: 5px; top: 6px;" href="/start/login"> Log in </ion-button>
    <ion-button color="medium" style="position: absolute; right: 95px; top: 6px"> Sign Up </ion-button>
  </ion-toolbar>
</ion-header>

<!-- Content contains a simple SignUp-Form  -->
<!-- User must enter a e-mail address and 2 identical passwords -->
<!-- All information is required to sign up -->
<ion-content>
  <div class="container-fluid">
    <form [formGroup]="signUpForm">

      <!-- User must enter his/her e-mail address here -->
      <!-- E-mail-address is stored in the email-propriety of a User-Object -->
      <div class="form-group">
        <ion-item>
          <ion-label> e-mail address  </ion-label>
          <ion-input formControlName="email" type="email" class="form-control" [(ngModel)]="mail"></ion-input>
        </ion-item>
        <!-- If the user "touched" this input and the mail-address is invalid, this message is shown  -->
        <small [class.ion-hide]="email.untouched || email.valid"
               style="color: red"> Invalid e-mail-address </small>
      </div>

      <!-- User must enter his/her password here -->
      <!-- Password is stored in the email-propriety of a User-Object -->
      <!-- ToDo: What are requirements for password-security?  -->
      <div class= "form-group">
        <ion-item>
          <ion-label> password </ion-label>
          <ion-input formControlName="password" type="password" class="form-control" [(ngModel)]="pw"></ion-input>
        </ion-item>
        <!-- If the user "touched" this input and the password is invalid, this message is shown  -->
        <small [class.ion-hide]="password.valid || password.untouched"
               style="color: red;"> password required </small>
      </div>

      <!-- User must confirm his password here -->
      <!-- This password must match the first one to be valid -->
      <div class="form-group">
        <ion-item>
          <ion-label> confirm password </ion-label>
          <ion-input formControlName="confirmation" type="password" class="form-group" [pattern]="pw"></ion-input>
        </ion-item>
        <!-- If the first password is valid, the user "touched" this input and the second password is invalid, this message is shown  -->
        <small [class.ion-hide]="confirmation.valid ||
                                  confirmation.untouched ||
                                   password.invalid" style="color: red;"> Passwords must be equal! </small>
      </div>
    </form>
  </div>

    <!-- When all information is valid, the sign up button is shown -->
    <ion-button [class.ion-hide]="signUpForm.get('email').invalid || signUpForm.get('password').invalid || signUpForm.get('confirmation').invalid"
                (click)="saveUser()">
      Sign Up
    </ion-button>
    <!-- If all information isn't valid this message is shown  -->
    <small [class.ion-hide]="signUpForm.get('email').valid && signUpForm.get('password').valid && signUpForm.get('confirmation').valid"
           style="color: red">
      You can sign up as soon as all required information is valid. </small>
</ion-content>
