<ion-header>
  <ion-toolbar color="primary">
    <ion-button color="secondary" style="position: absolute; left: 5px; top: 6px"><ion-back-button defaultHref="/start"> </ion-back-button></ion-button>
    <ion-title style="color: darkgreen; position: absolute; left: 80px; top: 15px"> Your Profile </ion-title>
    <ion-button color="secondary" style="position: absolute; right: 5px; top: 6px;" href="/start/start"> Logout </ion-button>
  </ion-toolbar>
</ion-header>

<!-- ToDo: Display user infos here-->
<!-- ToDo: Allow them to change their info. Button that enables editing of info-->
<!-- ToDo: Let them create their service offers-->


<ion-content>
  <ion-grid [hidden]="!httpGetSuccess">
    <ion-row>
      <p>Name: {{firstname}} {{lastname}}</p>
    </ion-row>
    <ion-row>
      <p>Email: {{email}}</p>
    </ion-row>
    <ion-row>
      <p>Address: {{street}} {{housenumber}} ; {{city}} {{zip}}</p>
    </ion-row>

  </ion-grid>
  <ion-button color="secondary"[routerLink]="['createService']">Create your service offer</ion-button>
  <ion-button color="secondary" (click)="showUpdateField()">Edit Profile</ion-button>
  <ion-list>
    <!-- Use service component here with NgFor-->
  </ion-list>
</ion-content>
