ion-header::after {
  background-image: none;
}

.whiteBR{
  background-color: #ffffff;
}

ion-content{
  --ion-background-color:#fafafa;
}

ion-item{
  --ion-background-color:#ffffff;
}

ion-text{
  color: #7d7d7d;
  font-style: italic;
}
