<ion-header>
  <ion-toolbar color="success">
    <ion-button style="position: absolute; left: 5px; top: 6px"><ion-back-button defaultHref="/start"> </ion-back-button></ion-button>
    <ion-title style="color: darkgreen; position: absolute; left: 80px; top: 15px"> Your Profile </ion-title>
    <ion-button style="position: absolute; right: 5px; top: 6px;" href="/start/start"> Logout </ion-button>
  </ion-toolbar>
</ion-header>

<!-- ToDo: Display user infos here-->
<!-- ToDo: Allow them to change their info. Button that enables editing of info-->
<!-- ToDo: Let them create their service offers-->
