<app-header></app-header>

<ion-content>
  <div class="littleSideBorder">

    <div class="eventImage" [hidden]="serviceId==null||isEditing" style="text-align: center; top: 0px">
      <ion-img [src]="image" style="height:20vmax; object-fit: cover"></ion-img>

      <ion-row>
        <div style="position: relative; top: 25px; text-align: left; left:25px; font-size: 30px; font-weight: bold">
          <ion-col>
            <ion-text style="font-size: 30px; color: black">{{title}}</ion-text>
          </ion-col>
        </div>
        <ion-col style="margin-left: 90%; margin-top: -4.8%">
          <ion-button [hidden]="true" class="bigButtons" size="large" color="light" style="--box-shadow: none"
                      (click)="addToFavorites()">
            <ion-img style="height: 85px; width: 85px;" src="/assets/icon_star.png"></ion-img>
          </ion-button>
          <ion-button class="bigButtons" size="large" color="light" style="--box-shadow: none"
                      (click)="deleteFromFavorites()">
            <ion-img style="height: 85px; width: 85px;" src="/assets/icon_star_filled.png"></ion-img>
          </ion-button>

        </ion-col>
      </ion-row>

      <ion-button [disabled]="hasReported" class="btn1" color="light" size="small" text-capitalize=“false” (click)="report()">
        <ion-icon name="alert"></ion-icon>
        <ion-text style="padding-left: 10px"> Report</ion-text>
      </ion-button>
      <ion-button class="btn2" color="light" size="small" text-capitalize=“false” (click)="showUpdateInput()">
        <ion-icon [hidden]="providerId!=auth.getUserId()" name="md-create"
                  style="cursor:pointer; padding-right: 10px"></ion-icon>
        <ion-text>Edit</ion-text>
      </ion-button>
    </div>

    <ion-row>
      <ion-col [hidden]="serviceId==null||isEditing">
        <div style="height: 200px; padding-left:25px">
          <h1>Description</h1>
          <ion-text>{{description}}</ion-text>
        </div>
        <div style="height: 100px; padding-left: 25px">
          <h1 [hidden]="requirements==''||requirements=='null'">Special requirements</h1>
          <ion-text [hidden]="requirements==''||requirements=='null'">{{requirements}}</ion-text>
        </div>
      </ion-col>

      <!-- Form for editing the service -->
      <div [hidden]="!isEditing"
           style="align-content: center; position: absolute; top: 30px; margin-left: 20%; margin-bottom: 50px">
        <ion-title style="font-size: 30px; font-weight: bold">Edit your Service</ion-title>
        <div class="container-fluid">
          <form [formGroup]="updateInfoForm">
            <ion-grid>
              <ion-item class="itemForm">
                <ion-label style="color: grey; font-style: italic">Title</ion-label>
                <ion-input formControlName="updateTitle" value="{{title}}"
                           style="background-color: #fafafa"></ion-input>
              </ion-item>
              <ion-item class="itemForm">
                <ion-label style="color: grey; font-style: italic">Description</ion-label>
                <ion-input formControlName="updateDescription" value="{{description}}"
                           style="background-color: #fafafa"></ion-input>
              </ion-item>
              <ion-item class="itemForm">
                <ion-label style="color: grey; font-style: italic">Price</ion-label>
                <ion-input formControlName="updatePrice" type="number" value="{{price}}"
                           style="background-color: #fafafa"></ion-input>
              </ion-item>
              <ion-item class="itemForm">
                <ion-label style="color: grey; font-style: italic">Availability</ion-label>
                <ion-select multiple="true" class="customSelect" formControlName="updateAvailability"
                            placeholder="Select..." style="background-color: #fafafa" value="{{availability}}">
                  <ion-select-option value="Monday"> Monday</ion-select-option>
                  <ion-select-option value="Tuesday"> Tuesday</ion-select-option>
                  <ion-select-option value="Wednesday"> Wednesday</ion-select-option>
                  <ion-select-option value="Thursday"> Thursday</ion-select-option>
                  <ion-select-option value="Friday"> Friday</ion-select-option>
                  <ion-select-option value="Saturday"> Saturday</ion-select-option>
                  <ion-select-option value="Sunday"> Sunday</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item class="itemForm">
                <ion-label style="color: grey; font-style: italic">Radius (km)</ion-label>
                <ion-input formControlName="updatePerimeter" type="number" value="{{perimeter}}"
                           style="background-color: #fafafa"></ion-input>
              </ion-item>

              <!--ion-item class="itemForm">
                <ion-label style="color: grey; font-style: italic">City</ion-label>
                <ion-input formControlName="updateCity" value="{{city}}"
                           style="background-color: #fafafa"></ion-input>
              </ion-item-->
              <ion-item class="itemForm">
                <ion-label style="color: grey; font-style: italic">Special requirements</ion-label>
                <ion-input formControlName="updateRequirements" value="{{reqDisplay}}"
                           style="background-color: #fafafa"></ion-input>
              </ion-item>
              <ion-item class="itemForm">
                <ion-label style="color: grey; font-style: italic">Max. number of people</ion-label>
                <ion-input formControlName="updateCapacity" value="{{capacity}}" (keyup.enter)="tryToUpdate()"
                           style="background-color: #fafafa"></ion-input>
              </ion-item>
            </ion-grid>
            <ion-button [disabled]="hasSentOfferInquiry" color="primary" (click)="tryToUpdate()" style="margin-left: 20px; width: 305px; height: 50px">
              Update Service
            </ion-button>
            <ion-button color="primary" (click)="stopEditing()" style="height: 50px">Cancel</ion-button>
          </form>
        </div>
      </div>


      <ion-col offset="2">
        <div [hidden]="serviceId==null||isEditing">
          <ion-grid>
            <ion-row>
              <ion-col>
                <h1>Price</h1>
                <ion-text>{{price}} CHF {{getPriceFormat()}}</ion-text>
              </ion-col>
              <ion-col>
                <h1>Availability</h1>
                <ion-text>{{availability}}</ion-text>
              </ion-col>
              <ion-col>
                <h1>Capacity</h1>
                <ion-text>{{capacity}} people</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <h1>Location</h1>
                <ion-text>{{displayPerimeter}} {{displayCity}}</ion-text>
              </ion-col>
            </ion-row>

          </ion-grid>
          <ion-button [disabled]="hasSentOfferInquiry" [hidden]="isInputing" (click)="showOfferInput()" size="large" color="primary"
                      style="--box-shadow: none; width: 100%; margin-top: 120px; margin-bottom: 30px;"> Get Offer
          </ion-button>

          <div [hidden]="!isInputing">

            <form [formGroup]="orderInfoForm">

              <div class="container-fluid">
                <br>
                <ion-item class="itemForm">
                  <ion-label>Message</ion-label>
                  <ion-textarea formControlName="messageInput"></ion-textarea>
                </ion-item>
              </div>

              <div class="container-fluid">
                <ion-item class="itemForm">
                  <ion-label>Date</ion-label>
                  <ion-input formControlName="dateInput"></ion-input>
                </ion-item>
                <ion-item class="itemForm">
                  <ion-label>Time</ion-label>
                  <ion-input formControlName="timeInput" (keyup.enter)="sendOffer()"></ion-input>
                </ion-item>
              </div>
            </form>

            <ion-button (click)="sendOffer()" style="width: 400px">Send Request</ion-button>
          </div>
        </div>

      </ion-col>
    </ion-row>
  </div>
  <app-info-footer></app-info-footer>
</ion-content>
