ion-content{
  --ion-background-color:#fafafa;
}

.bigButtons{
  height: 120px;
  width: 120px;
}

.bigIcons{
  height: 120px;
  width: 120px;
}

h1{
  font-size: 15px;
  font-weight: bold;
}

ion-text{
  font-size: 15px;
  font-family: Calibri;
  color: #616161;
}
