<ion-header style="height: 85px; background-color: white">
  <ion-img src="assets/logo.png" style="height: 60px; width: 201px; position: absolute; left: 15px; top: 15px; cursor:pointer" (click)="redirectStartPage()"></ion-img>
    <ion-button size="large" color="light" href = "start" style="position: absolute; right: 20px; top: 10px; border-bottom-color: white; --box-shadow:none"><ion-back-button defaultHref="/start" style="color:black"> </ion-back-button></ion-button>
</ion-header>

<ion-content>
  <div style="min-height: 100%">
  <div style="margin-left: 480px; width: 400px">
    <br>
  <ion-title style="color: black; position: center; text-align: center; top: 25px; left: 50px">{{title}}</ion-title>
  <div [hidden]="serviceId==null">
    <ion-img [src]="image" style="height:30vmax"></ion-img>
    <ion-grid>
      <ion-label>Description</ion-label>
      <ion-item>{{description}}</ion-item>
      <ion-label>Price</ion-label>
      <ion-item>{{price}} CHF {{getPriceFormat()}}</ion-item>
      <ion-label>Available on</ion-label>
      <ion-item>{{availability}}</ion-item>
      <ion-label>Location</ion-label>
      <ion-item>Within {{perimeter}} km of {{city}}</ion-item>
      <ion-label [hidden]="requirements==''||requirements=='null'">Special requirements</ion-label>
      <ion-item [hidden]="requirements==''||requirements=='null'">{{requirements}}</ion-item>
      <ion-label>Max. number of people</ion-label>
      <ion-item>{{capacity}}</ion-item>
    </ion-grid>
  </div>

    <ion-title style="color: black; position: center; text-align: center; top: 25px; left: 50px">{{title}}</ion-title>
    <div [hidden]="serviceId==null">
      <ion-img [src]="'data:image/jpeg;base64,'+image" style="height:30vmax"></ion-img>
      <ion-grid>
        <ion-label>Description</ion-label>
        <ion-item>{{description}}</ion-item>
        <ion-label>Price</ion-label>
        <ion-item>{{price}} CHF {{getPriceFormat()}}</ion-item>
        <ion-label>Available on</ion-label>
        <ion-item>{{availability}}</ion-item>
        <ion-label>Location</ion-label>
        <ion-item>Within {{perimeter}} km of {{city}}</ion-item>
        <ion-label [hidden]="requirements==''||requirements=='null'">Special requirements</ion-label>
        <ion-item [hidden]="requirements==''||requirements=='null'">{{requirements}}</ion-item>
        <ion-label>Max. number of people</ion-label>
        <ion-item>{{capacity}}</ion-item>
      </ion-grid>
    </div>


    <ion-button [hidden]="isInputing" (click)="showOfferInput()" style=" width: 400px">Get Offer</ion-button>
    <ion-button color = "light" style="--box-shadow: none" (click)="report()">
      <ion-icon name="alert"></ion-icon>
    </ion-button>

    <div [hidden]="!isInputing">

      <form [formGroup]="orderInfoForm">

        <div class="container-fluid">
          <ion-item>
            <ion-label >Message: </ion-label>
            <ion-input formControlName="messageInput"></ion-input>
          </ion-item>
        </div>

        <div class="container-fluid">
          <ion-item>
          <ion-label >Date: </ion-label>
          <ion-input formControlName="dateInput"></ion-input>
         </ion-item>
          <ion-item>
            <ion-label >Time: </ion-label>
            <ion-input formControlName="timeInput"></ion-input>
          </ion-item>
        </div>
      </form>

      <ion-button (click)="sendOffer()" style="width: 400px">Get offer</ion-button>
    </div>
  </div>
  </div>
  <!--<app-info-footer></app-info-footer> -->

</ion-content>
