<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <div style="min-height: 100%; margin-left: 15%; margin-right: 15%; background-color: white">

    <ion-row>
      <ion-col>
          <br>
          <ion-title style="color: black; position: center; text-align: center; top: 25px; left: 50px">{{title}}</ion-title>
        <br>
          <div [hidden]="serviceId==null||isEditing">
          <ion-img [src]="image" style="height:25vmax"></ion-img>
            <ion-text style="text-align: center; position: center; left: 50px">Within {{perimeter}} km of {{city}}</ion-text>
            <!--ion-button [hidden]="isInputing||isEditing" (click)="showOfferInput()" style=" width: 400px">Get Offer</--ion-button-->
          </div>
          <div [hidden]="!isEditing">
            <div class="container-fluid">
              <form [formGroup]="updateInfoForm">

                <ion-grid>
                  <ion-label>Title</ion-label>
                  <ion-input formControlName="updateTitle" value="{{title}}" style="background-color: #fafafa"></ion-input>
                  <ion-label>Description</ion-label>
                  <ion-input formControlName="updateDescription" value="{{description}}" style="background-color: #fafafa"></ion-input>
                  <ion-label>Price</ion-label>
                  <ion-input formControlName="updatePrice" type="number" value="{{price}}" style="background-color: #fafafa"></ion-input>
                  <ion-label>Available on</ion-label>
                  <ion-select multiple="true" class="customSelect" formControlName="updateAvailability" placeholder="Select..." style="background-color: #fafafa">
                    <ion-select-option value="Monday"> Monday</ion-select-option>
                    <ion-select-option value="Tuesday"> Tuesday</ion-select-option>
                    <ion-select-option value="Wednesday"> Wednesday</ion-select-option>
                    <ion-select-option value="Thursday"> Thursday</ion-select-option>
                    <ion-select-option value="Friday"> Friday</ion-select-option>
                    <ion-select-option value="Saturday"> Saturday</ion-select-option>
                    <ion-select-option value="Sunday"> Sunday</ion-select-option>
                  </ion-select>
                  <ion-label>Radius (km)</ion-label>
                  <ion-input formControlName="updatePerimiter" type="number" value="{{perimeter}}" style="background-color: #fafafa"></ion-input>
                  <ion-label>City</ion-label>
                  <ion-input formControlName="updateCity" value="{{city}}" style="background-color: #fafafa"></ion-input>
                  <ion-label>Special requirements</ion-label>
                  <ion-input formControlName="updateRequirements" value="{{reqDisplay}}" style="background-color: #fafafa"></ion-input>
                  <ion-label>Max. number of people</ion-label>
                  <ion-input formControlName="updateCapacity" value="{{capacity}}" style="background-color: #fafafa"></ion-input>
                </ion-grid>
                <ion-button color="secondary" (click)="tryToUpdate()">Update Service</ion-button>
                <ion-button color="secondary" (click)="stopEditing()">Cancel</ion-button>
              </form>
            </div>
          </div>

          <div [hidden]="!isInputing">

            <form [formGroup]="orderInfoForm">

              <div class="container-fluid">
                <br>
                <ion-item>
                  <ion-label >Message: </ion-label>
                  <ion-input formControlName="messageInput"></ion-input>
                </ion-item>
              </div>

              <div class="container-fluid">
                <ion-item>
                  <ion-label >Date: </ion-label>
                  <ion-input formControlName="dateInput"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label >Time: </ion-label>
                  <ion-input formControlName="timeInput"></ion-input>
                </ion-item>
              </div>
            </form>

            <ion-button (click)="sendOffer()" style="width: 400px">Get offer</ion-button>
          </div>

      </ion-col>
      <ion-col offset="2">
        <div [hidden]="serviceId==null||isEditing">

          <ion-button class="bigButtons" size="large" color = "light" style="--box-shadow: none" (click)="addToFavorites()">
            <ion-icon class="bigIcons" name="ios-star-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="showOfferInput()" class="bigButtons" size="large" color = "light" style="--box-shadow: none">
            <ion-icon class="bigIcons" name="chatboxes"></ion-icon>
          </ion-button>

          <ion-button class="bigButtons" size="large" color = "light" style="--box-shadow: none" (click)="report()">
            <ion-icon class="bigIcons" name="alert"></ion-icon>
          </ion-button>

          <ion-grid>
            <ion-row ><ion-col style="text-align: right"><ion-icon [hidden]="providerId!=auth.getUserId()" name="create" style="cursor:pointer" (click)="showUpdateInput()"></ion-icon></ion-col></ion-row>
            <ion-textarea style="height: 200px;">
              <h1>Description</h1>
              <ion-text>{{description}}</ion-text>
            </ion-textarea>
            <ion-textarea style="height: 100px">
              <h1 [hidden]="requirements==''||requirements=='null'">Special requirements</h1>
              <ion-text [hidden]="requirements==''||requirements=='null'">{{requirements}}</ion-text>
            </ion-textarea>

            <ion-row>
              <ion-col>
                <h1>Price</h1>
                <ion-text>{{price}} CHF {{getPriceFormat()}}</ion-text>
              </ion-col>
              <ion-col>
                <h1>Available on</h1>
                <ion-text>{{availability}}</ion-text>
              </ion-col>
              <ion-col>
                <h1>Max. people</h1>
                <ion-text>{{capacity}}</ion-text>
              </ion-col>
            </ion-row>

          </ion-grid>
        </div>

      </ion-col>
    </ion-row>
  </div>


  <!--<app-info-footer></app-info-footer> -->

</ion-content>
