ion-content{
  --ion-background-color:#fafafa;
}

.bigButtons{
  height:70px;
  width: 70px;
}

.bigIcons{
  height: 85px;
  width: 85px;
}

h1{
  font-size: 16px;
  font-weight: bold;
}

ion-text{
  font-size: 16px;
  font-family: Calibri;
  color: #616161;
}


/* Style the button and place it in the middle of the eventImage/image */
.btn1 {
  position: absolute;
  top: 3%;
  right: 12%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: black;
  cursor: pointer;
  border-radius: 5px;
  --box-shadow: none;
}

.btn2 {
  position: absolute;
  top: 72.5%;
  right: 13.8%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: black;
  cursor: pointer;
  border-radius: 5px;
  --box-shadow: none;
}
.itemForm{
  border: 1px solid #d0d0d0;
  border-radius: 7px;
  margin: 15px;
}




