<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="color: darkgreen"> Reset Password</ion-title>
    <ion-button color="secondary" style="position: absolute; right: 5px; top: 6px"
                *ngIf="setPassword" href="start/login">
      Log in
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-group">
    <ion-item>
      <ion-label> Set new password</ion-label>
      <ion-input type="password" class="form-control" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label> Confirm password</ion-label>
      <ion-input type="password" class="form-control" pattern="password" [(ngModel)]="confirmation"></ion-input>
    </ion-item>
  </div>
  <ion-button color="secondary" (click)="setNewPassword()"> Set new password</ion-button>

  <!-- Loading animation -->
  <p *ngIf="loading"> Set new password. </p>
  <ion-progress-bar *ngIf="loading" type="indeterminate" color="tertiary"></ion-progress-bar>

  <!-- Displayed when password has successfully been updated -->
  <h3 *ngIf="setPassword"> Password has successfully been updated. You can <a href="/start/login"> log
    in </a> now. </h3>

  <!-- Handling errors -->
  <p *ngIf="error" style="color: red"> An error occurred: {{error}}. Please try again. </p>

</ion-content>
