<ion-header style="height: 85px; background-color: white">
    <ion-img src="assets/logo.png" style="height: 60px; width: 201px; position: absolute; left: 15px; top: 15px; cursor:pointer" (click)="refreshPage()"></ion-img>
    <ion-button size = "large" color="light" style="position: absolute; right: 20px; top: 10px; color: black; --box-shadow:none"
                (click)="authService.logout()" [hidden]="authService.isLoggedOut()"> <ion-icon name="ios-log-out"></ion-icon>
    </ion-button>
    <ion-button color="light" style="position: absolute; right: 20px; top: 22px; color: black; --box-shadow:none"
                [hidden]="authService.isLoggedIn()" [routerLink]="['login']">
      Log in
    </ion-button>
    <ion-button color="light" style="position: absolute; right: 120px; top: 22px; color: black; --box-shadow:none"
                [hidden]="authService.isLoggedIn()" [routerLink]="['signup']">
      Sign Up
    </ion-button>
    <ion-button color="light" style="position: absolute; right: 120px; top: 22px; color: black; border-bottom-color: white; --box-shadow:none"
                [hidden]="authService.isLoggedOut()" [routerLink]="['userprofile']">
      Your Profile
    </ion-button>
</ion-header>

<ion-content>
  <ion-button slot="fixed" href="start/userprofile/createService" shape="round" color="dark" style="position: fixed; height: 50px; width: 50px; bottom: 110px; right: 60px">
    <ion-text style="font-size: 25pt; font-weight: lighter; color: white;">+</ion-text>
  </ion-button>
  <div style="min-height: 100%">

    <!-- Loading animation while services are loaded from database-->
    <ion-progress-bar *ngIf="loading" type="indeterminate" color="tertiary"></ion-progress-bar>
  <!-- Form to set search params -->
  <form [formGroup]="searchForm" [hidden]="loading">
    <ion-toolbar color="#fafafa" style="position: absolute; top: 5px;">
      <ion-grid>
        <ion-row>
          <ion-col>
              <ion-select class="whiteBR" placeholder="Category" formControlName="category">
                <ion-select-option value=""> All Categories </ion-select-option>
                <ion-select-option value="Location"> Venue </ion-select-option>
                <ion-select-option value="Gastronomy"> Gastronomy </ion-select-option>
                <ion-select-option value="Music"> Music </ion-select-option>
                <ion-select-option value="Entertainment"> Entertainment </ion-select-option>
                <ion-select-option value="Photography"> Photography </ion-select-option>
              </ion-select>
          </ion-col>

          <ion-col>
              <ion-select *ngIf="category.value == 'Gastronomy' || category.value == 'Music' || category.value == 'Entertainment' "
                          class="whiteBR" placeholder="Subtype" formControlName="subtype">
                <ion-select-option value=""> All Types </ion-select-option>
                <ion-select-option *ngIf="category.value == 'Gastronomy'" value="american"> American</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Gastronomy'" value="asian"> Asian</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Gastronomy'" value="fingerFood"> Finger Food </ion-select-option>
                <ion-select-option *ngIf="category.value == 'Gastronomy'" value="greek"> Greek</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Gastronomy'" value="indian"> Indian</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Gastronomy'" value="italian"> Italian</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Gastronomy'" value="japanese"> Japanese</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Gastronomy'" value="mexican"> Mexican</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Gastronomy'" value="oriental"> Oriental</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Gastronomy'" value="sweets"> Sweets & Dessert </ion-select-option>
                <ion-select-option *ngIf="category.value == 'Gastronomy'" value="vegan"> Vegan</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Gastronomy'" value="vegetarian"> Vegetarian </ion-select-option>

                <ion-select-option *ngIf="category.value == 'Music'" value="classical"> Classical</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Music'" value="electro"> Electronic Music </ion-select-option>
                <ion-select-option *ngIf="category.value == 'Music'" value="dj"> DJ</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Music'" value="folk"> Folk</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Music'" value="hiphop"> Hip Hop / Rap</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Music'" value="jazz"> Jazz</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Music'" value="latin"> Latin</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Music'" value="oldie"> Golden Oldies</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Music'" value="pop"> Pop/Rock</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Music'" value="schlager"> Schlager</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Music'" value="unplugged"> Unplugged</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Music'" value="world"> World Music</ion-select-option>

                <ion-select-option *ngIf="category.value == 'Entertainment'" value="cabaret"> Cabaret </ion-select-option>
                <ion-select-option *ngIf="category.value == 'Entertainment'" value="comedy"> Comedy</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Entertainment'" value="dance"> Dance</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Entertainment'" value="magic"> Magic</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Entertainment'" value="pyro"> Pyrotechnics</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Entertainment'" value="theatre"> Theatre </ion-select-option>
              </ion-select>
          </ion-col>

            <ion-col>
              <ion-select class="whiteBR" placeholder="Day..." formControlName="weekday">
                <ion-select-option value=""> All days </ion-select-option>
                <ion-select-option value="Monday"> Monday </ion-select-option>
                <ion-select-option value="Tuesday"> Tuesday </ion-select-option>
                <ion-select-option value="Wednesday"> Wednesday </ion-select-option>
                <ion-select-option value="Thursday"> Thursday </ion-select-option>
                <ion-select-option value="Friday"> Friday </ion-select-option>
                <ion-select-option value="Saturday"> Saturday </ion-select-option>
                <ion-select-option value="Sunday"> Sunday </ion-select-option>
              </ion-select>
            </ion-col>
        </ion-row>

        <ion-row>
          <ion-col >
            <ion-item>
              <ion-input placeholder="City" formControlName="city" type="text"> </ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-input placeholder="Price (CHF)" formControlName="price" type="number"> </ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-input placeholder="Number of people" formControlName="persons"> </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="10">
            <ion-item>
              <ion-input placeholder="Search..." formControlName="text" type="text"> </ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-button color="primary" (click)="search()" style="width: 100px; height: 43px"> <ion-icon color="light" name="search"> </ion-icon> </ion-button>
          </ion-col>
          <ion-col>
            <a href="/start"> reset </a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </form>

  <!-- Display Event Services matching the params -->
    <event-service-card [services]="services" style="position: absolute; top: 200px; bottom: 200px; padding-bottom: 100px;"> </event-service-card>


  </div>
</ion-content>
<ion-footer>
  <app-info-footer></app-info-footer>
</ion-footer>

