

<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <!-- Loading animation while services are loaded from database-->
  <ion-progress-bar *ngIf="loading" type="indeterminate" color="tertiary"></ion-progress-bar>

  <ion-button  [hidden]="authService.isLoggedOut()" [disabled]="numberOfServices>=5" slot="fixed" href="start/userprofile/createService" shape="round" color="dark" style="position: fixed; height: 50px; width: 50px; bottom: 110px; right: 60px">
    <span title="Create service for an event"> <ion-text style="font-size: 25pt; font-weight: lighter; color: white;">+</ion-text>  </span>
  </ion-button>
  <div style="min-height: 100%">
    <!-- Form to set search parameters -->
    <!-- EventServices can be filtered by category and subtype, availability, city, price, capacity, and simple text search--->
  <form [formGroup]="searchForm">
    <ion-toolbar color="#fafafa" style="position: absolute; top: 5px;">
      <ion-grid>
        <ion-row>
          <ion-col>
              <ion-select class="whiteBR" placeholder="Category" formControlName="category" (ionChange)="search()">
                <ion-select-option value=""> All Categories </ion-select-option>
                <ion-select-option value="Location"> Venue </ion-select-option>
                <ion-select-option value="Gastronomy"> Gastronomy </ion-select-option>
                <ion-select-option value="Music"> Music </ion-select-option>
                <ion-select-option value="Entertainment"> Entertainment </ion-select-option>
                <ion-select-option value="Photography"> Photography </ion-select-option>
              </ion-select>
          </ion-col>

          <ion-col>
              <ion-select *ngIf="category.value == 'Gastronomy' || category.value == 'Music' || category.value == 'Entertainment' "
                          class="whiteBR" placeholder="Subtype" formControlName="subtype" (ionChange)="search()">
                <ion-select-option value=""> All Types </ion-select-option>
                <ion-select-option *ngIf="category.value == 'Gastronomy'" value="american"> American</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Gastronomy'" value="asian"> Asian</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Gastronomy'" value="fingerFood"> Finger Food </ion-select-option>
                <ion-select-option *ngIf="category.value == 'Gastronomy'" value="greek"> Greek</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Gastronomy'" value="indian"> Indian</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Gastronomy'" value="italian"> Italian</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Gastronomy'" value="japanese"> Japanese</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Gastronomy'" value="mexican"> Mexican</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Gastronomy'" value="oriental"> Oriental</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Gastronomy'" value="sweets"> Sweets & Dessert </ion-select-option>
                <ion-select-option *ngIf="category.value == 'Gastronomy'" value="vegan"> Vegan</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Gastronomy'" value="vegetarian"> Vegetarian </ion-select-option>

                <ion-select-option *ngIf="category.value == 'Music'" value="classical"> Classical</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Music'" value="electro"> Electronic Music </ion-select-option>
                <ion-select-option *ngIf="category.value == 'Music'" value="dj"> DJ</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Music'" value="folk"> Folk</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Music'" value="hiphop"> Hip Hop / Rap</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Music'" value="jazz"> Jazz</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Music'" value="latin"> Latin</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Music'" value="oldie"> Golden Oldies</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Music'" value="pop"> Pop/Rock</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Music'" value="schlager"> Schlager</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Music'" value="unplugged"> Unplugged</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Music'" value="world"> World Music</ion-select-option>

                <ion-select-option *ngIf="category.value == 'Entertainment'" value="cabaret"> Cabaret </ion-select-option>
                <ion-select-option *ngIf="category.value == 'Entertainment'" value="comedy"> Comedy</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Entertainment'" value="dance"> Dance</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Entertainment'" value="magic"> Magic</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Entertainment'" value="pyro"> Pyrotechnics</ion-select-option>
                <ion-select-option *ngIf="category.value == 'Entertainment'" value="theatre"> Theatre </ion-select-option>
              </ion-select>
          </ion-col>

            <ion-col>
              <ion-datetime class="whiteBR" placeholder="select date" formControlName="weekday" (ionChange)="search()"
                            displayFormat="DDDD, DD.MM.YYYY" [min]="today" [max]="year"></ion-datetime>
            </ion-col>
        </ion-row>

        <ion-row>
          <ion-col >
            <ion-item>
              <ion-input placeholder="City" formControlName="city" type="text" (keyup.enter)="search()" (ionChange)="search()"> </ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-input placeholder="Price (CHF)" formControlName="price" type="number" (keyup.enter)="search()" (ionChange)="search()"> </ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-input placeholder="Number of people" type="number" formControlName="persons" (keyup.enter)="search()" (ionChange)="search()"> </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="10">
            <ion-item>
              <ion-input placeholder="Search..." formControlName="text" type="text" (keyup.enter)="search()" (ionChange)="search()"> </ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-button color="primary" (click)="search()" style="width: 100px; height: 43px"> <ion-icon color="light" name="search"> </ion-icon> </ion-button>
          </ion-col>
          <ion-col>
            <a href="/start"> reset all filters </a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </form>

  <!-- Display Event Services matching the parameters set by the user -->
    <event-service-card [width]="4" [services]="services" style="position: absolute; top: 200px; bottom: 200px; padding-bottom: 100px;"> </event-service-card>
  </div>
</ion-content>
<ion-footer>
  <app-info-footer></app-info-footer>
</ion-footer>

